
h1, h2{
         font-family: "Carter one", cursive;
         font-size: 35px;
         }
       
 p, ol{
         font-family: "Lusitana", serif;
         font-size: 18px;
         }
         
    nav{
         font-family: "Lusitana", serif;
         font-size: 15px;
         }
   
         
         
   
           
