/*---------body editing---------------*/
body{
     width: 640px;
     margin: 0 auto;
     background: gray;
}

p{
  text-align: center;
}

h1, h2{
       font-family: "Carter one", cursive;
       font-size: 35px;
       text-align: center;
}
       
p, ol{
      font-family: "Lusitana", serif;
      font-size: 18px;
}

body img{
         display: block;
}

/*-----------Navigation Editing------------*/ 
         
nav{
    font-family: "Lusitana", serif;
    font-size: 15px;
   
}

a:link{
       color:#2156fa;
}
         
a:visited{
         color:#ef0c3a;
}
 
a:hover{
        color:#52d37a;
       
}
         
a:active{
         color:#732b7a;
}

ul{
  width: 640px;
  margin: 0 auto;
  background: #666;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

ul li{
      width: 128px;
      background: #000;
      float: left;
      
}
ul a{
     text-decoration: none;
     display: block;
     height: 25px;
     line-height: 25px;
     text-align: center;     
     
}

ul a:hover{
           background: #c3a87a
} 


       













    
     
         
        
   
         
         
   
           
