/*---------body editing---------------*/
body{
     margin: 36px auto;
     font:100%
     max-width: 960px;
}

#wrapper{
         width: 100%;
         margin: 0 auto;
         overflow: hidden;
}

clearFix{
        clear: both;
}



h1, h2{
       font-family: "Carter one", cursive;
       font-size: 3em;/*48px*/
       text-align: center;
       color: #000;
}

h1{
   padding-top: 4.531722054381%;

}
       
p, ol{
      font-family: "Lusitana", serif;
      font-size: 1.25em;/*15px*/
      text-align: center;
}

body img{
         display: block;
         
}

#p{
   width:80%;
}

strong{
       font-style: italic;
       color: red;
       text-decoration: underline;
}


/*-----------Navigation Editing------------*/ 
         
nav{
    font-family: "Lusitana", serif;
    font-size: 1.25em;
}

a:link{
       color:white;
}
         
a:visited{
         color:#ef0c3a;
}
 
a:hover{
        color:#52d37a;
       
}
         
a:active{
         color:#732b7a;
}

ul{
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

nav ul li{
      width: 20%;
      background: #000;
      float: left;
      
}

nav ul a{
     text-decoration: none;
     display: block;
     height: 25px;
     line-height: 25px;
     text-align: center;     
}

ul a:hover{
           background: #c3a87a
} 

/*----------------Images---------------------*/


img{
    margin: auto;
    padding-top: 9.063444108761%;
    
}       

footer{
       text-align: center;
       padding-top: 15.105740181269%;
}

body{
     background-image: url("../fc images/fightclub1999.jpg");
{

#fight_club_soap{
                 border: 8px solid: #333;
                 width: 100%; 
}

#fight_club_soap img{
                    max-width:100%;
}

#mischief{
                 border: 8px solid: #333;
                 width: 51.40625%; 
}

#mischief img{
                    max-width:100%;
}

#fight_club_artwork{
                 border: 8px solid: #333;
                 width: 50%; 
}

#fight_club_artwork img{
                    max-width:100%;
}

ul img{
       border: 8px solid: #333;
        width: 50%; 
}

ul img{
    max-width:100%;
}


/* =Media Queries
================================================*/




@media screen and (min-width: 768px)and(max-width: 959px){
 #wrapper{background-color:#333;}

}

@media only screen and (min-width: 480px) and (max-width: 767px){


}

@media only screen and (max-width: 479px){
  #fight_club_soap{ display:none;}  
 
 
 }

















    
     
         
        
   
         
         
   
           
